@model List<Tile>
@{ 
    double currentBet = CoinsHelper.GetCurrentTotal(Context);
}
<div>
    <h4>Current Bet: $@currentBet.ToString("N2")</h4>
    @if (currentBet == 0)
    {
        <a class="btn btn-danger" asp-action="Exit" asp-controller="Game" class="nav-link">Try Again!</a>

    }
    else
    {
        <a class="btn btn-success" asp-action="Exit" asp-controller="Game" class="nav-link">Take the Coins!</a>

    }
</div>
    <div class="row">

        @foreach (var tile in Model)
        {
            <div class="card col-2">

                @if (tile.Visible == false)
                {
                    <img src="~/images/unknown.png" class="card-img-top" alt="...">
                }
                else if (tile.Value == "0.00")
                {
                    <img src="~/images/bust.png" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="~/images/money.png" class="card-img-top" alt="...">
                }



            <div class="card-body">
                @if(tile.Visible)
                { <div>@tile.Value</div>}
                else{
                    <a asp-action="Reveal" asp-route-id="@tile.TileIndex" class="btn btn-primary">CHOOSE</a>
                }
            </div>
            </div>

        }
    </div>

